/**
* 处理一些全局样式
*/
@import '@/style/mixins.scss';
@import '@/style/variable.scss';

/* 处理移动端1px问题 */
.border-one {
  @include border();
}

/* 清楚浮动 */
.cleanfix {
  *zoom: 1;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/* 登录模块 */
.login-module {
  width: 6.1rem;
  height: 5.1rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -3.15rem;
  opacity: 1;
  border: solid 4px $border-color;
  border-radius: 0.2rem;
  /* 竖屏 */
  @media screen and (orientation:portrait) {
    bottom: 0.2rem;
  }
  /* 横屏 */
  @media screen and (orientation:landscape) {
    top: 0.6rem;
  }
}
